name: 'Run default CI jobs'

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
  workflow_dispatch:

env:
  UV_NO_SYNC: 1
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  lint-all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
      - name: Set up workspace
        run: |
          task setup
      - name: Lint by lefthook
        run: |
          task verify
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
      - name: Set up workspace
        run: |
          task setup
      - name: Run tests
        run: |
          bun test
